.key-metrics-tab {
    .ant-tabs-nav .ant-tabs-tab-active {
        color: $white;
        font-weight: 500;
        background-color: $blue;
        padding-right: 100%;
    }
}

&.km-view-container {
    .ant-card-body {
        padding: 0px;
        zoom: 1;
    }

    .km-view-container-card {
        padding-top: 20px;
        overflow-y: auto;
        overflow-x: hidden;
        height: 424px;
        border-right: 1px solid $white-cloud  ;
    }
    .km-select-user-type {
        width: 148px;
        margin-left: 25px;
    }
    .km-user-type-text {
        width: 31px;
        height: 18px;
        text-align: left;
        font: normal normal medium 13px/18px Roboto, sans-serif;
        letter-spacing: 0px;
        color: $black-dark;
        opacity: 1;
    }
    .km-ant-Typography {
        margin-top: 16px;
        margin-bottom: 5px;
    }
    .km-ant-text {
        font-size: 12px;
        font-weight: bold;
        margin-left: 25px;
        color: $blue;
    }
    .km-ant-text-menu-title {
        text-align: left;
        font-size: 10px;
        letter-spacing: 0px;
        font-weight: 700;
        color: $blue;
        text-transform: uppercase;
        opacity: 1;
    }
    .ant-tabs .ant-tabs-left-bar .ant-tabs-tab,
    .ant-tabs .ant-tabs-right-bar .ant-tabs-tab {
        display: block;
        float: none;
        margin: 0 150px 1px 0;
        width: max-content;
        padding-left: 27px;
        padding-right: 100%;

        text-align: left;
        font: normal normal normal 13px/18px Roboto, sans-serif;
        letter-spacing: 0px;
        color: $black-light;
        opacity: 1;
    }

    .key-metrics-tab .ant-tabs-nav .ant-tabs-tab:hover {
        color: $black !important;
    }

    .key-metrics-tab .ant-tabs-nav .ant-tabs-tab-active {
        color: $white !important;
    }

    .key-metrics-tab .ant-tabs-nav .ant-tabs-tab-active:hover {
        color: $white !important;
    }

    .km-menu-view {
        padding-left: 25px;
    }
    .km-ant-sub-menu-text {
        width: 92px;
        height: 18px;
        text-align: left;
        font: normal normal normal 13px/18px Roboto, sans-serif;
        letter-spacing: 0px;
        color: $white;
        opacity: 1;
    }
    .km-slide-views-cn {
        margin-top: 4px;
        margin-left: 1px;
    }

    .km-view-menu-item {
        padding: 0px;

        .ant-menu-submenu-title {
            height: 32px;
        }

        .km-view-menu-sub-item {
            margin: 0px;
            padding: 11px;
            padding-left: 24px !important;
            text-align: left;
            font: normal normal normal 13px/18px Roboto, sans-serif;
            letter-spacing: 0px;
            color: $black-light;
            opacity: 1;
        }
        .ant-menu-item-selected {
            text-align: left;
            font: normal normal normal 13px/18px Roboto, sans-serif;
            letter-spacing: 0px;
            color: $white;
            opacity: 1;
        }
    }
}

.km-clear {
    border: 1px solid $dark-gary;
    height: 32px;
    border-left: none;
    margin-right: 10px;
    border-radius: 0 4px 4px 0;
    padding: 3px 8px;
    cursor: pointer;
}

.km-show-all-btn {
    border-radius: 4px 0 0 4px;
    margin-right: 0px;
    padding: 0px;
    width: 138px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.km-show-views {
    width: 65px;
    height: 18px;
    text-align: left;
    font: normal normal normal 13px/18px Roboto, sans-serif;
    letter-spacing: 0px;
    color: $black-dark;
    opacity: 1;
    margin-right: 30px;
    margin-left: 5px;
}
.km-shw-icon {
    top: 115px;
    left: 560px;
    width: 11px;
    height: 11px;
    background: $Blue-var 0% 0% no-repeat padding-box;
    opacity: 1;
}

.km-create-scheme {
    margin-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 9px;
    padding-right: 12px;
}

.km-show-more-btn {
    width: 88px;
    height: 30px;
    background: $white 0% 0% no-repeat padding-box;
    border: 1px solid $Blue-var;
    border-radius: 5px;
    opacity: 1;
    padding-left: 0px;
    margin: 10px 0px;
}
.km-show-more-text {
    width: 47px;
    height: 13px;
    text-align: left;
    font: normal normal normal 10px/13px Roboto, sans-serif;
    letter-spacing: 0px;
    color: $Blue-var;
    opacity: 1;
    margin-left: 4px;
}
.km-show-more-text-icon {
    color: $Blue-var;
    width: 9px;
    height: 4px;
    opacity: 1;
    margin-bottom: 9px;
    font-size: smaller;
}

.km-close-icon {
    color: $red;
    margin-right: 5px;
    margin-top: 6px;
}
.km-close-btn {
    margin-right: 5px;
    background: $white 0% 0% no-repeat padding-box;
    border: 1px solid $dark-gary;
    border-radius: 4px;
    opacity: 1;
    padding: 0px;
    width: 33px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.km-enable-filter-icon {
    width: 16px;
    height: 11px;
    //background: #1691C5 0% 0% no-repeat padding-box;
    opacity: 1;
}

.km-page-size {
    margin-right: 10px;
    width: 120px;
}