$font-family  : 'Roboto', sans-serif;
$light        : 300;
$regular      : 400;
$medium       : 500;
$bold         : 700;

$white        : #ffffff;
$white-light  : #e2e2e2;
$white-wo     : rgba(255, 255, 255, 0.6);

$blue         : #1899cc;
$blue-wo      : rgba(0,153,204,.15);
$dark-blue    : #1899cc;
$blue-shade   : rgba(0,153,204,0.1);
$blue-light   : #2c91c5;
$Blue-var     : #1691c5;

$yellow       : #ffcc00;
$yellow-shade : rgba(255, 204, 0, 0.1);

$red          : #ee2222;
$red-wo       : rgba(238, 34, 34, 0.6);
$dark-red     : #ec1919;
$red-shade    : rgba(238, 34, 34, 0.1);
$red-light    : #ff4d4f;

$green        : #00aa55;
$green-wo     : rgba(0, 170, 85, 0.6);
$dark-green   : #009641;
$green-shade  : rgba(0, 170, 85, 0.1);

$black        : #303B46;
$black-wo     : #9A9FA4;
$black-light  : #303d46;
$black-dark   : #2f3c45;

$gray          :#f9f9f9;
$light-grey    :#dedede;
$gray-wo       :rgba(49, 60, 71, 0.1);
$disabled-grey :#ebeced;
$dark-gary     :#D9D9D9;
$white-cloud   :#e8e8e8;
$light-sky     :#f0f8ff

