&.abort-modal {

    &.active-modal {
        .button-wrap {
            justify-content: flex-end;
            padding: 0 30px 30px 30px;
        }

        .btn-abort {
            height: 40px;
            min-width: 122px;
            font-weight: $bold;
        }
        
        .btn-cancel {
            margin-right: 10px;
        }
             
    }

    p {
        &.content-text {
            margin-bottom: 4px !important;
        } 
    }

    .agree-text {
        display:block;
        margin-bottom: 4px !important; 
    }
   
    &.content-text {
        margin-bottom: 12px;
    } 

    .content {
        @include font-size(14);
        color: $black;
        margin-bottom: 0 !important;
    }

    .ant-modal-close-x {
        line-height: 52px;
        width: 70px;

        .ant-modal-close-icon {
            font-size: 14px;
            color: $black;
            font-weight: 900;
        }
    }
    
    .ant-modal-body {
        padding: 0;
    }

    .ant-modal-header {
        padding: 18px 30px;
    }

    .ant-modal-title {
        color: $black;
        font-weight: $bold;
        @include font-size(15);
        margin-bottom: 0;
        text-align: left;
    }

    .title {
        border-bottom: 1px solid #dcdddf;
        color: $black;
        font-weight: $bold;
        @include font-size(15);
        margin-bottom: 0;
        padding: 18px 30px;
        text-align: left;
    }

    .ant-modal-content {
        border-radius: 4px;
        width: 575px;

        .ant-checkbox-wrapper {
            @include font-size(14);
            margin-bottom: 10px;
        }
    }

    .unordered-list-style {
        margin-bottom: 0;
    }

    .content-wrap {
        padding: 18px 30px 3px 30px;

        .content-text {
            @include font-size(14);
            color: $black;
            margin-bottom: 12px;
        }

        &.custom {
            padding-top: 0;
            padding-bottom: 18px;
        }

        .mt-4 {
            margin-top: 0 !important;
        }
    }

    .ant-modal-footer {
        padding: 0 30px 30px 30px;
        border-top: none;

        .btn {
            font-size: 14px;
            font-weight: $bold;
        }

        .footer {
            margin: 0;
        }
    }

    .button-wrap {
        padding: 0;
        margin: 0;
        @include flex-row;
        justify-content: space-between;

        .btn-abort {
            height: 40px;
            min-width: 122px;
            font-weight: $bold;
        }

        .btn-cancel {
            height: 40px;
            font-weight: $bold;
        }
    }

    &.mutliclient-modal {      
        
        .content-wrap {
            padding: 0 !important;
        }

        .ant-modal-footer {
            padding: 0 30px 30px 30px;
            border-top: none;
            justify-content: flex-end;
    
            .btn {
                font-size: 14px;
                font-weight: $bold;
            }
    
            .footer {
                margin: 0;
            }
        }

        .report-modal-footer {
            justify-content: flex-end;
        }

        .btn-abort {
           min-width: 100px !important;
           margin-right: 0px !important;
        }

        .content-text {
            @include font-size(14);
            color: $black;
            margin-bottom: 12px;
        }

        .unordered-list-style {
            margin-bottom: 0;
        }

        .ant-modal-body {
            padding: 18px 30px 28px 30px;
        }
        

        .content {
            @include font-size(14);
            color: $black;
            margin-bottom: 0 !important;
        }

        .btn-cancel {
            min-width: 100px !important;
            margin-right: 1px !important;
        }
    }
    
}
