&.add-user-modal {
    .ant-modal-close-x {
        line-height: 52px;
        width: 70px;

        .ant-modal-close-icon {
            font-size: 14px;
            color: $black;
            font-weight: 900;
        }
    }
    
    .ant-modal-body {
        padding: 0;
    }

    .title {
        border-bottom: 1px solid #dcdddf;
        color: $black;
        font-weight: $bold;
        @include font-size(15);
        margin-bottom: 0;
        padding: 18px 30px;
        text-align: left;
    }

    .create-scheme-form {
        padding: 30px 30px;
        padding-top: 0px;

        .input-row {
            margin-top: 20px !important;

            &.first-row {
                margin-top: 15px !important;
            }
        }
    }

    .btn-grey-o {
        padding: 6px 25px;
    }

    .tpip-btn-blue {
        padding: 6px 25px;
    }
}

.ant-btn-group {
    .ant-btn-primary{
      background-color: $blue;
      box-shadow: none !important;
    }
}
&.permission-modal {
    .ant-typography {
        &.permission-wrap {
            padding: 20px 30px 30px 26px;
            font-size: 14px;
            margin-bottom: 0;
        }
        
        ul {
            margin-bottom: 0;
        }
    }

    .ant-modal-footer {
        border-top: none;
        padding: 0px 30px 30px 30px;
    }
}