&.forgot-password-modal {   
  
    .ant-modal-body {
        padding: 0;
    }

    .forgot-password-container {

        .forgot-password-content {
            padding: 19.2px;

            .forgot-password-title {
                color: $black;
                font-weight: $bold;
                @include font-size(16);
                margin-bottom: 3.2px;
                text-align: left;
            }

            .forgot-password-subtitle {
                color: $black-wo;
                @include font-size(14);
                margin-bottom: 0;
                text-align: left;
            }
        }

        .image-row {
            border-bottom: 1px solid $light-grey;
            padding: 16px;
            text-align: center;
        }
       
    }
}


