&.preview-comments-modal {
    width: 600px !important;

    .ant-modal-content {
        border-radius: 4px;
        width: 600px;
    }

    .ant-modal-close-x {
        line-height: 52px;
        width: 70px;

        .ant-modal-close-icon {
            font-size: 14px;
            color: $black;
            font-weight: 900;
        }
    }

    .ant-modal-body {
        padding: 0;
    }

    .ant-table-body{
        th {
            padding: 20px 30px;
            font-size: 14px;
            border-bottom: none;
            color: $black;
        }
        
        td {
            padding: 0px 30px 18px 30px;
            border-bottom: none;
        }

        tr {
            &:first-child {
                td {
                    padding-top: 20px !important;
                }
            }
        }
    }

    .ant-table-column-title {
        font-size: 13px;
        font-weight: $bold;
    }

    .ant-table-header-column {
        .ant-table-column-title {
            font-size: 14px !important;
        }
    }

    .user-details {
        padding: 4px;
        padding-left: 15px;
    
        .name {
            font-size: 14px;
            padding-bottom: 0;
            margin-bottom: 0;
            color: $black;
        }

        .date {
            color: $black-wo;
            @include font-size(12);
            margin-bottom: 0;
        }
    }

    .btn-container {
        width: 100%;
        padding: 30px;
        text-align: right;

        .btn-blue {
            border-radius: 4px;
            height: 35px;
            font-weight: bold !important;
        }
    }
  
    .title {
        border-bottom: 1px solid #dcdddf;
        color: $black;
        font-weight: $bold;
        @include font-size(15);
        margin-bottom: 0;
        padding: 18px 30px;
        text-align: left;
    }
}


