.forgot-password-form {
   
  margin-top: 16px; 
   
  .input-wrap {
    overflow: hidden;

    .input-title {
      color: $black-wo;
      @include font-size(14);    
      margin: 0;  
    }   
    
  }

  .btn-submit {
    @include font-size(14);  
    height: 45px;
    margin-top: 16px; 
    width: 100%;
    text-align: center;     
  }
}