.login-form {
    .form-group {
      overflow: hidden;

      .input-title {
          color: $black-wo;
          @include font-size(14);    
          margin: 0;  
      }     
   }

  .login-form-forgot { 
      display: block;
      @include font-size(14);
      margin-top: -12.8px;
  }

  .btn-submit {
      @include font-size(14);  
      height: 45px;
      margin-top: 16px; 
      width: 100%;     
  }
}