.reset-password-form { 
        
    .btn-submit {
        width: 100%;       
    }     
    
    .btn-link {
        background: transparent;
        border: none;
        color: $blue;
        font-weight: $bold;
        @include font-size(14);    
        margin-top: 4.8px;
        outline: none;
        text-align: center;
        width: 100%;
    }
    
    .input-wrap {
        margin-top: 32px;
    }
    
    .input-title {
        color: $black;
        @include font-size(14);    
    }

    .input-label {
        color: $black-wo;
        @include font-size(14);    
    }
}


