.report-popover-wrap {
    &.list {

        a {
            text-decoration: none;
            cursor: pointer;

            &:first-child {
                .list-item {
                    padding-top: 9px;
                }
            }
    
            &:last-child {
                .list-item {
                    padding-bottom: 9px;
                }
            }
        }        

         .list-item {
             color: $black;
             display: block;
             padding: 4px 18px;
             margin-bottom: 0;
             font-size: 14px;

             .icon {
                 margin-right: 10px;

                 &.img {
                     width: 15px;
                     height: 15px;
                 }
             }

             &.delete-item {
                 color: $red;
             }
         }

         hr {
             margin: 4px 0;
         }
     }
}

.matrix-popover {
    padding: 20px;
    text-align: left;

    .matrix-title {
        font-size: 13px;
        margin-bottom: 10px;
        display: block;
    }

    .faicon {
        margin-right: 10px;
        font-size: 17px;
        color: #FECC2F;
        vertical-align: middle;
    }

    .footer {
        text-align: right;
    }
    
    .btn-cancel {
        color: $black !important;
        @include font-size(14);
        text-transform: capitalize;
        height: 24px;
        background-color: $white;
        border-radius: 4px;
        margin-right: 16px;
        border: 0.5px solid $black;
    }

    .btn-ok {
        color: $white !important;
        @include font-size(14);
        text-transform: capitalize;
        height: 24px;
        background-color: $blue;
        border-radius: 4px;
        border: 1px solid $blue;
    }
}