&.input-flag-modal {

  .ant-modal-close-x {
    line-height: 52px;
    width: 70px;

    .ant-modal-close-icon {
      font-size: 14px;
      color: $black;
      font-weight: 900;
    }
  }

  .ant-modal-body {
    padding: 0;
  }

  .model-icon {
    color: #FECC2F;
    font-size: 18px;
  }
  .title-text {
    color: $black;
    font-weight: $bold;
    @include font-size(15);
    padding-left: 12px;
  }

  .title {
    display: flex;
    border-bottom: 1px solid #dcdddf;
    margin-bottom: 0;
    padding: 18px 30px 12px 18px;
    text-align: left;
  }

  .content {
    color: $black!important;
    @include font-size(14);
  }

  .footer {
    text-align: right;

    .btn-close {
      margin-right: 10px;
    }

    &.dash-footer {
      margin-top: 24px;
    }
  }

  .input-flag-form {
    padding: 30px 30px;
    padding-top: 20px;

    .input-row {
      margin-top: 15px !important;
    }
  }
}


