.confirmation-content {
    background-color: $gray;
    padding: 15px 10px;
  
    .user-confirmation-container {

        background-color: $white;
        width: 55%;
        margin: 0 auto;
        padding: 15px;
        text-align: left;  
    
        .title {
            color: $black;
            display: block;
            @include font-size(16);    
            font-weight: $bold;
            margin-bottom: 0px;
        }
    
        .sub-title {
            color: $black-wo;
            @include font-size(14);    
        }

        @include mobile {            
            width: 100%;                
        }

        @include tablet-portrait {            
            width: 90%;                
        }

        @include tablet-landscape {            
            width: 60%;                
        }
       
    }
}
