.tasks-navigator{

    margin: 30px 0;

    .card-wrap{
        border: none;
        background-color: $white;

        .header{
            padding: 16px;
            border-bottom: 1px solid $light-grey;

            .title{
                color: $black;
                @include font-size(16);
                font-weight: $bold;
            }
        }

        .content{

            .image{
                vertical-align: top;
                width: 20px;
                height: 100%;
            }
            
            .ant-steps-item{
                cursor: pointer;
                height: auto;
                padding: 18px 12px;

                .ant-steps-item-content {
                    min-height: auto;
                }

                &:last-child {
                    border-bottom: none;
                }
            }

            .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
                color: $green;
            }

            .ant-steps-item-custom.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
                color: $green;
            }

            .ant-steps-vertical.ant-steps-small .ant-steps-item-tail {
                left: 22px;
                height: 166%;

                &::after {
                    width: 2px;
                }
            }

            .ant-steps-item-title {
                margin-top: -2px;
                color: $black;
            }

            .custom-step {
                .ant-steps-item-content {
                    min-height: 65px;
                }
            }
        }
    }

} 